[[source]]
url = 'https://pypi.python.org/simple'
verify_ssl = true
name = 'pypi'

[requires]
python_version= '3.6'

[packages]
setuptools = "*"
fs  = '>= 2.2.0'

[dev-packages]
nose = "*"
mock = "*"
codecov = "*"
coverage = "*"
flake8 = "*"
